/* uncomment next line to import external font */
@import url(https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap);

h1 {
    text-align: center;
}

body {
    font-family: 'Ojuju', cursive;
    font-style: italic;
}

p {
    font-size: 30px;
    color: red;
}
